<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Password generator</title>
        <link rel="icon" type="image/png" href="{% static 'generator/logo.png' %}">

    </head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'generator/custom.css' %}">

    <div class="container text-center">
        <div class="cnt">
            <h3 class="text text-success">Страница содержит краткую информацию о функционале сайта и его создателе.</h3>
            <h4 class="text text-dark">Этот сайт- простой генератор паролей, он может придумать пароль за
                вас! Позволяет выбрать длину пароля. По желанию вы можете добавить к базовому нижнему регистру прописные буквы, числа,
                спецсимволы (! @ # $% ^ & * () _ + | <>?., '"~). Внимание! Созданные пароли нигде не сохраняются. Это безопасно.</h4>
            <h5 class="text text-secondary">Это учебный проект начинающего программиста Виктора, который живет в России. Пожелаем ему удачи!</h5>
            <a href="{% url 'home' %}" class="btn btn-success">На главную</a>
            <br>
            <a id="id_2" href="https://google.com" target="_blank" class="btn btn-secondary">Все проекты</a>
        </div>
    </div>
</body>
</html>