<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Password generator</title>
        <link rel="icon" type="image/png" href="{% static 'generator/logo.png' %}">
    </head>
<body>
    <div id="id_1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link href="{% static 'generator/custom.css' %}" rel="stylesheet" type="text/css">

        <div class="container text-center">
            <h1>Ваш пароль:</h1>
            <h2 class="text text-success">{{ password }}</h2>

            <a href="{% url 'home' %}" class="btn btn-success">На главную</a> <!--кнопка вернуться домой-->
        </div>
    </div>
</body>
</html>